{% block content %}
  <h3> Name</h3>
    <p>Name<p>
    <form action="/api/put" method="post" name="api">
      <p> Name <br>
      {{ form.name(size=40) }}<br>
      {% for error in form.name.errors %}
        <span style="color: red;">[{{ error }}]</span>
      {% endfor %}<br>
      <p> email <br>
      {{ form.email(size=40) }} <br>
      {% for error in form.email.errors %}
        <span style="color: red;">[{{ error }}]</span>
      {% endfor %}<br>
      <p> Phone  <br>
      {{ form.phonenumber(size=40) }} <br>
      {% for error in form.phonenumber.errors %}
        <span style="color: red;">[{{ error }}]</span>
      {% endfor %}<br>


      <p> product <br>
      {{ form.product(size=40) }} <br>
      {% for error in form.product.errors %}
        <span style="color: red;">[{{ error }}]</span>
      {% endfor %}<br>
      <p><input type ="submit" value="Add" class="btn btn-sm btn-primary"></p>
    </form>
{% endblock %}
